﻿@{
    ViewBag.Title = "Chat";
}


<div class="chat mid-bg">
    <ul id="discussion"></ul>
</div>

<div class="textinputwrap">
    <textarea id="message" rows="1" class="textinputbox dark-bg transition-responsive" placeholder="Type message." autofocus></textarea>
    <button type="button" class="redbutton red-bg transition-responsive" id="sendmessage" value="send">SEND</button>
</div>


<div class="serverwrap">
    <div id="serverlist"></div>
    <ul id="channellist"></ul>
</div>

<div class="server_add">
    <button type="button" id="serveradd_btn">ADD SERVER</button>
</div>

@*TODO Add dialog for server adding, channel adding, server browser, chat search *@

@section scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}

